* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* Typography */

h1 {
    margin: 0;
    color: #FFF;
    font-size: 3.25rem;
    font-weight: 300;
}

/* Combinator - Adjacent sibling */
/* A paragraph that's exactly after H1 will be selected */
h1 + p {
    margin: 0;
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font-size: 1.3125;
}

h2 + p {
    margin-top: 0;
    color: #F18119;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

strong { font-weight: 900; }


.top-text {
    font-size: .625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;

    order: -1;
}

.fine-print {
    font-size: .625rem;
    letter-spacing: 1px;
}


/* Intro section */

.intro {
    padding: 0 .5em 2em;
    min-height: 50vh;
    background-color: #404040;
    background-image: url(../images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    /* We set the .intro section as a flex container and new spacing just appear between text. Inside a flex container, margins DO NOT colapse. The margins on the text are not collapsing anymore, they're are adding now :) */
    justify-content: space-between;
}


/* Main section */

.main-content {
    padding: 2em 1em;
}

/* On large screen the space in the sections became a lilttle too mouch.
   Rule for setting a specific width to all direct children of the sections */

/* There's nothing really wrong with this aprouch. 
    There's always a *little* peformance issue/concern when you are using the star selector.
    Always a potential for a little issue.*/
.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* FORM */
.email-collector {
    /* border: 2px solid tomato; */
    width: 80%;
    max-width: 300px;
}

/* anoying: input comes with a default width .-. */
input,
.btn {
    width: 100%;
    border-radius: 5px;
}

/* Forms don't inherit the same way other elements do */
input {
    margin-bottom: .75em;
    padding: .25em;
    font-family: inherit;
    text-align: center;
    border: 1px solid #404040;
}

/* Media Queries */

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh; /* When using vh with height, always consider min-height as option */
        /* But hey, I set it as min-height and the section still with some scrolling on it... Time to talk about box-sizing: border-box; */
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
