
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* Typography */

h1 {
    margin: 2em 0;
    color: #FFF;
    font-size: 3.25rem;
    font-weight: 300;
}

/* Combinator - Adjacent sibling */
/* A paragraph that's exactly after H1 will be selected */
h1 + p {
    margin: 0;
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font-size: 1.3125;
}

h2 + p {
    margin-top: 0;
    color: #F18119;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

strong { font-weight: 900; }


.top-text {
    font-size: .625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;

    order: -1;
}

.small-text {
    font-size: .625rem;
    letter-spacing: 1px;
}


/* Intro section */

.intro {
    padding: 0 .5em 2em;
    background-color: #404040;
    background-image: url(../images/dark-ribs.jpg);

    display: flex;
    flex-direction: column;
    /* We set the .intro section as a flex container and new spacing just appear between text. Inside a flex container, margins DO NOT colapse. The margins on the text are not collapsing anymore, they're are adding now :) */
}


/* Main section */

.main-content {
    padding: 2em 1em;
}