
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* Typography */

h1 {
    font-size: 3.25rem;
    font-weight: 300;
}

/* Combinator - Adjacent sibling */
/* A paragraph tha's exactly after H1 will be selected */
h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3125;
}

h2 + p {
    color: #F18119;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

strong { font-weight: 900; }


.top-text {
    font-size: .625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
}

.small-text {
    font-size: .625rem;
    letter-spacing: 1px;
}
